body {
    display: flex;
    flex-direction: column;
}

/* Header section */

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    height: 50px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 530px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding-left: 15px;
}

/* Awesome section */

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #1F2937;
    color: white;
}

.intro .left {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 260px;
}

.intro .one{
    margin: 0px;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.intro .right {
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

.intro button {
    height: 30px;
    width: 100px;
    color: white;
    background-color: #3882F6;
    border: 3px solid #3882F6;
    border-radius: 10px;
    flex-shrink: 0;
}

/* Random information section */

.rando {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.rando-title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.deck {
    display: flex;
    justify-content: center;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
    margin: 15px;
}

.box {
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    margin: 5px;
    border-radius: 10px;
}



/* Quote section */

.quote {
    padding-left: 300px;
    padding-right: 300px;
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
}

.quote .one {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote .two {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

/* Registration section */

.register {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 700px;
    background-color: #3882F6;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
}

.register button {
    height: 30px;
    width: 100px;
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 10px;
    flex-shrink: 0;
}

.register .left {
    color: #F9FAF8;
    min-width: 160px;
}

.register .left .action {
    font-size: 24px;
    font-weight: bolder;
}

.register p {
    margin: 0px;
}

/* Footer section */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

