body {
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    height: 50px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding-left: 15px;
}