body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    height: 50px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding-left: 15px;
}


.rando {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.rando-title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.deck {
    display: flex;
    justify-content: center;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
    margin: 15px;
}

.box {
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    margin: 5px;
    border-radius: 10px;
}

.quote {
    padding-left: 300px;
    padding-right: 300px;
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quote .one {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote .two {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

